@import '../node_modules/normalize.css/normalize';
@import '../src/index';

$c-white: #ffffff;
$c-black: #000000;
$c-custom: #009688;

html {
  overflow-x: hidden;
}

body {
  background: $c-white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: $c-custom;
  font-size: 8vw;
  margin: 0;
  padding: 1em 1% 0;
  text-align: center;
}

.demo-Custom {
  h1 {
    color: $c-custom;
  }

  svg {
    line,
    polyline {
      stroke: $c-custom;
    }
    fill: $c-custom;
  }
}

.demo-Inverse {
  background: $c-custom;

  h1 {
    color: $c-white;
  }

  svg {
    line,
    polyline {
      stroke: $c-white;
    }
    fill: $c-white;
  }
}
